.input__container {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.label {
    width: 100%;
}

.input {
    width: 100%;
    padding: 5px;
    height: 40px;
    box-sizing: border-box;
}

.button {
    min-width: 26%;
}

.button__delete {
    margin-left: 10px;
}